:root {
  --container-padding: 20px;
  --main-background-color: rgb(224, 224, 224);
}

.section-title {
  font-size: 2rem;
  color: black;
}

form {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

input {
  background-color: white;
  padding: 5px;
  width: calc(100% - var(--container-padding));
  border-radius: 10px;
}

.dropbtn {
  padding: 0px;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #b4b4b4;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  z-index: 1;
}

.show {
  display: flex;
}

.buttons-container {
  display: flex;
  align-self: flex-end
}

.submit-btn {
  background-color: #a3ff98;
  color: black;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(4, 255, 0);
}

.center-items-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-items-vertically span {
  flex: 1;
  text-align: left;
}

.form-container {
  border: 2px solid black;
  border-radius: 25px;
  padding: var(--container-padding);
  background-color: white;
}
